:root{
--c: #d4af37;
--s: 16px;
}

p{
font-size: calc(var(--s) * 0.9);
font-family: "Baloo 2", sans-serif;
margin: 0;
color: #7a7a7a
}

button{
font-size: calc(var(--s) * 0.8);
font-family: "Baloo 2", sans-serif
}

h1{
font-size: calc(var(--s) * 2);
font-family: "Baloo 2", sans-serif;
margin: 0
}

h2{
font-size: calc(var(--s) * 1.5);
font-family: "Baloo 2", sans-serif;
margin: 0
}

body{
color: var(--c);
text-align: center;
font-family: "Baloo 2", sans-serif;
filter: brightness(1) contrast(1) saturate(1)
}

::selection{
background-color: #666;
color: var(--c)
}

::-webkit-scrollbar{
display: none
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
em,
div,
span,
a,
button,
input,
textarea,
label,
img,
select,option{
scrollbar-width: none;
-ms-overflow-style: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
touch-action: none;
overscroll-behavior: none;
-webkit-touch-callout: none;
}

@media (min-width: 320px) { :root { --s: 5px } }
@media (min-width: 360px) { :root { --s: 6px } }
@media (min-width: 400px) { :root { --s: 7px } }
@media (min-width: 440px) { :root { --s: 8px } }
@media (min-width: 480px) { :root { --s: 9px } }
@media (min-width: 540px) { :root { --s: 10px } }
@media (min-width: 600px) { :root { --s: 11px } }
@media (min-width: 660px) { :root { --s: 12px } }
@media (min-width: 720px) { :root { --s: 13px } }
@media (min-width: 800px) { :root { --s: 14px } }
@media (min-width: 900px) { :root { --s: 15px } }
@media (min-width: 1000px) { :root { --s: 16px } }
@media (min-width: 1100px) { :root { --s: 18px } }
@media (min-width: 1260px) { :root { --s: 20px } }
@media (min-width: 1440px) { :root { --s: 22px } }
@media (min-width: 1600px) { :root { --s: 25px } }
@media (min-width: 1800px) { :root { --s: 28px } }
@media (min-width: 2000px) { :root { --s: 32px } }
@media (min-width: 2200px) { :root { --s: 36px } }
@media (min-width: 2400px) { :root { --s: 40px } }


.blur{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 9998;
backdrop-filter: blur(calc(var(--s) * 0.2));
-webkit-backdrop-filter: blur(calc(var(--s) * 0.2));
display: none
}
